<script src='/assets/lazyload.js'></script>
<script>
  $('img').lazyload();
</script>

<div class='category_name'> Film </div>
<div class='media-row'>
  <div class='row-fluid '>
    <div class='span8' style='float: none; margin: 0 auto;'>
      <div class='shadow'>
        <%= link_to image_tag('routes_trailer.png'), 'https://vimeo.com/93560841', target: '_blank' %>
      </div>
      <div class='caption'>ROUTES TRAILER</div>
    </div>
  </div>
</div>

<div class='media-row'>
  <div class='row-fluid'>
    <div class='span6'>
      <div class='shadow'>
        <%= link_to image_tag('choices.png'), 'http://www.youtube.com/watch?v=agTwYPg49xQ', target: '_blank' %>
      </div>
      <div class='caption'>CHOICES</div>
    </div>
    <div class='span6'>
      <div class='shadow'>
        <%= link_to image_tag('summer.png'), 'http://www.youtube.com/watch?v=dX1z6Yko-XY', target: '_blank' %>
      </div>
      <div class='caption'>SUMMER</div>
    </div>
  </div>
</div>


<div class='category_name'> Animation </div>

<div class='media-row'>
    <div class='row-fluid'>
      <!--GOLDEN-->
      <div class='span4'>
        <div class='shadow'>
            <%= link_to image_tag('golden.png'), 'http://www.youtube.com/watch?v=DG5sASJUyzc', target: '_blank' %>
        </div>
        <div class='caption'>GOLDEN</div>
      </div>
      <!--UNDERDOG-->
      <div class='span4'>
        <div class='shadow'>
            <%= link_to image_tag('underdog.png'), 'http://www.youtube.com/watch?v=urvdLsAPKMQ', target: '_blank' %>
        </div>
        <div class='caption'>UNDERDOG</div>
      </div>
      <div class='span4' height='200'>
        <div class='shadow'>
            <%= link_to image_tag('bowlingwhite.jpg'), 'http://www.youtube.com/watch?v=fU1axACXmyM', target: '_blank' %>
        </div>
        <div class='caption'>A BOWLING BALL WESTERN</div>
      </div>
    </div>
</div>


<div class='category_name'> Modeling </div>
<div class='media-row'>
  <div class='row-fluid'>
    <div class='span4'>
      <div class='shadow'>
        <%= image_tag('ICARUS.jpg') %>
      </div>
      <div class='caption'></div>

    </div>
    <div class='span4'>
      <div class='shadow'>
        <%= image_tag('HAND.jpg') %>
      </div>
    </div>
    <div class='span4'>
      <div class='shadow'>
        <%= image_tag('EAR.jpg') %>
      </div>
    </div>
  </div>
</div>
<div class='media-row'>
  <div class='row-fluid'>
    <div class='span6'>
      <div class='shadow'>
        <%= image_tag('room1.jpg') %>
      </div>
      <div class='caption'></div>

    </div>
    <div class='span6'>
      <div class='shadow'>
        <%= image_tag('room2.jpg') %>
      </div>
    </div>
    <!--<div class='span4'>-->
      <!--<%= image_tag('room4.jpg') %>-->
    <!--</div>-->
  </div>
</div>

<div class='category_name'> Drawings </div>
<div class='media-row'>
  <div class='row-fluid'>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('sidewalk.jpg')%>
      </div>
      <div class='caption'>WHERE THE SIDEWALK BEGINS</div>
    </div>
    <div class='span4'>
      <div class='shadow'>

        <%=image_tag('emerson2010.png')%>
      </div>
      <div class='caption'>SIR EMERSON</div>
    </div>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('doodles.jpg')%>
      </div>
      <div class='caption'>MISC.</div>
    </div>
  </div>
</div>

<div class='category_name'> Paintings </div>
<div class='media-row'>
  <div class='row-fluid'>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('bridge.jpg')%>
      </div>
    </div>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('window.jpg')%>
      </div>
    </div>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('bottle.jpg')%>
      </div>
    </div>
  </div>
</div>

<div class='media-row'>
  <div class='row-fluid'>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('boat.jpg')%>
      </div>
    </div>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('courtyard.jpg')%>
      </div>
    </div>
    <div class='span4'>
      <div class='shadow'>
        <%=image_tag('milk.jpg')%>
      </div>
    </div>
  </div>
</div>

<!--<div class='category_name'> Photography </div>-->


<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48165910-1', 'lisaluo.com');
    ga('send', 'pageview');

</script>