
<!---ANIMATION VIDEOS---------------------->
<div class="category_name"> Animation </div>

<div class="media">
    <div class="row-fluid">
      <!--GOLDEN-->
      <div class="span4">
        <%= link_to image_tag("golden.png"), "http://www.youtube.com/watch?v=DG5sASJUyzc" %>
      </div>
      <!--UNDERDOG-->
      <div class="span4">
        <%= link_to image_tag("underdog.png"), "http://www.youtube.com/watch?v=urvdLsAPKMQ" %>
      </div>
    </div>
</div>



<!---MODELING SAMPLES---------------------->
<div class="category_name"> Modeling </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">
      <%= image_tag("ICARUS.jpg") %>
    </div>
    <div class="span4">
      <%= image_tag("HAND.jpg") %>
    </div>
    <div class="span4">
      <%= image_tag("EAR.jpg") %>
    </div>
  </div>
</div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">
      <%= image_tag("room1.jpg") %>
    </div>
    <div class="span4">
      <%= image_tag("room2.jpg") %>
    </div>
    <div class="span4">
      <%= image_tag("room4.jpg") %>
    </div>
  </div>
</div>

<!---FILMS--------------------------------->
<div class="category_name"> Film </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">

    </div>
    <div class="span4">

    </div>
    <div class="span4">

    </div>
  </div>
</div>

<!---DRAWINGS------------------------------>
<div class="category_name"> Drawings </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">

    </div>
    <div class="span4">

    </div>
    <div class="span4">

    </div>
  </div>
</div>

<!---PAINTINGS----------------------------->
<div class="category_name"> Paintings </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">

    </div>
    <div class="span4">

    </div>
    <div class="span4">

    </div>
  </div>
</div>

<!---PHOTOGRAPHY--------------------------->
<!--<div class="category_name"> Photography </div>-->



