<script>
  $(document).ready(function() {
    var $wall = $('#wall-masoned');
    console.log('wall? ' + typeof $wall);
    
    $wall.imagesLoaded(function() {
      $wall.masonry({
        'gutter': 10,
        'itemSelector': '.item',
        'isFitWidth': true
      });
    });
  });
</script>

<div id='wall-masoned' class='js-masonry' >
  <div class="item h2">
	  <%= image_tag('inspiration/calvino.jpg') %>
	</div>
  <div class="item">
  	<%= link_to image_tag('inspiration/danny_boy.png'), 'https://www.youtube.com/watch?v=l89fv5aoUjo', target: '_blank' %>
  </div>
  <div class="item h2">
  	<%= image_tag('inspiration/jack.jpg') %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/ekkimukk.png'), 'http://sigur-ros.co.uk/valtari/videos/ekki-abrahams/', target: '_blank' %>
  </div>
  <div class="item">
	  <%= link_to image_tag('inspiration/holland.png'), 'https://www.youtube.com/watch?v=LN_L6xmz688', target: '_blank' %>
	</div>
  <div class="item">
  	<%= image_tag('inspiration/requiem.jpg') %>
  </div>
  <div class="item">
	  <%= link_to image_tag('inspiration/jp_auclair.png'), 'https://www.youtube.com/watch?v=1-VCWUtNm-4', target: '_blank' %>
	</div>
  <div class="item">
  	<%= link_to image_tag('inspiration/kiwi.png'), 'https://www.youtube.com/watch?v=sdUUx5FdySs', target: '_blank' %>
  </div>
  <div class="item h2">
  	<%= link_to image_tag('inspiration/kurt.jpg'), 'https://www.youtube.com/watch?v=gOZKz_sPM6U', target: '_blank' %>
  </div>
   <div class="item">
  	<%= image_tag('inspiration/leon_plant.jpg') %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/mysterious_skin.png'), 'https://www.youtube.com/watch?v=LN_L6xmz688', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/thin_red_line.jpg'), 'https://www.youtube.com/watch?v=1SS3E1H_P24', target: '_blank' %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/pierrot.png') %>
  </div>
  <div class="item h4">
  	<%= image_tag('inspiration/portrait.jpg') %>
  </div>
  <div class="item h3">
  	<%= image_tag('inspiration/pulp_fiction.png') %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/petit_prince.png') %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/stanley_pineapple.png'), 'https://www.youtube.com/watch?v=11fqtALxgmM', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/story_for_tomorrow.png'), 'http://vimeo.com/36519586', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/hats.png'), 'https://www.youtube.com/watch?v=MuOvqeABHvQ', target: '_blank' %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/riptide_book.png') %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/riptide_woman.png') %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/riptide.png') %>
  </div>
</div>




