<script>
  $(document).ready(function() {
    var $wall = $('#wall-masoned');    
    $wall.imagesLoaded(function() {
      $wall.masonry({
        'gutter': 10,
        'itemSelector': '.item',
        'isFitWidth': true,
      });
    });
  });
</script>

<div id='wall-masoned' class='js-masonry lazy' >
  <div class="item h2">
	  <%= image_tag('inspiration/calvino.jpg', class: 'img-responsive aspect') %>
	</div>
  <div class="item">
  	<%= link_to image_tag('inspiration/danny_boy.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=l89fv5aoUjo', class: 'img-responsive', target: '_blank' %>
  </div>
  <div class="item h4">
  	<%= link_to image_tag('inspiration/portrait.jpg', class: 'img-responsive aspect'), 'https://librivox.org/a-portrait-of-the-artist-as-a-young-man-by-james-joyce/', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/ekkimukk.png', class: 'img-responsive aspect'), 'http://sigur-ros.co.uk/valtari/videos/ekki-abrahams/', target: '_blank' %>
  </div>
  <div class="item">
	  <%= link_to image_tag('inspiration/holland.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=LN_L6xmz688', target: '_blank' %>
	</div>
  <div class="item">
  	<%= image_tag('inspiration/pierrot.png', class: 'img-responsive aspect') %>
  </div>
  <div class="item">
	  <%= link_to image_tag('inspiration/jp_auclair.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=1-VCWUtNm-4', target: '_blank' %>
	</div>
  <div class="item">
  	<%= link_to image_tag('inspiration/kiwi.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=sdUUx5FdySs', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/petit_prince.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=gOZKz_sPM6U', target: '_blank' %>
  </div>
   <div class="item">
  	<%= image_tag('inspiration/leon_plant.jpg', class: 'img-responsive aspect') %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/requiem.jpg', class: 'img-responsive aspect') %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/thin_red_line.jpg', class: 'img-responsive aspect') %>
  </div>
  <div class="item h3">
  	<%= image_tag('inspiration/pulp_fiction.png', class: 'img-responsive aspect') %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/mysterious_skin.png', class: 'img-responsive aspect') %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/stanley_pineapple.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=11fqtALxgmM', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/story_for_tomorrow.png', class: 'img-responsive aspect'), 'http://vimeo.com/36519586', target: '_blank' %>
  </div>
  <div class="item">
  	<%= link_to image_tag('inspiration/hats.png', class: 'img-responsive aspect'), 'https://www.youtube.com/watch?v=MuOvqeABHvQ', target: '_blank' %>
  </div>
  <div class="item">
  	<%= image_tag('inspiration/riptide.png', class: 'img-responsive aspect') %>
  </div>
</div>




