<div class='haikus'>
	my name is Lisa
	<br>
	I enjoy <one>art</one> and <two>hacking</two>
	<br>
	and writing haikus
	<br>
	<br>
	senior at 
	<dgreen>
		<%= link_to('Dartmouth', 'http://www.dartmouth.edu', target: 'blank', style: 'color:white') %></dgreen>
	<br>
	formerly at 
	<ksrgreen>
		<%= link_to('Kickstarter', 'http://www.kickstarter.com/profile/lisaluo', target: 'blank', style: 'color:white')%></ksrgreen>
	<br>
	<hackny>
		<%= link_to('hackNY', 'http://hackny.org/a/', target: 'blank', style: 'color:white') %></hackny> alum
	<br>

	<br>
	currently
	<dali>
		<%= link_to('D.A.L.I.', 'http://dali.dartmouth.edu/', target: 'blank', style: 'color:white') %></dali>
	<br>
	preparing for my thesis:
	<br>
	world domination.
	<br>

	<br>
	say hi, drop a line,
	<br>
	via the buttons below
	<br>
	#socialmed-
	<br>
	<br>
	<%= link_to(':-)', 'https://www.youtube.com/watch?v=kVQWjMTpkhY', target: 'blank') %>
</div>

<script>
	$('one').hover(function(){
	  $('port').css('background-color','#FFF599');
	  },function(){
	  $('port').css('background-color','white');
	});

	$('two').hover(function(){
	  $('proj').css('background-color','#FFF599');
	  },function(){
	  $('proj').css('background-color','white');
	});
</script>