<!DOCTYPE html>
<html>
<head>
  <title>Lisa Luo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-no-turbolink' => true %>
  <%= csrf_meta_tags %>

  <!--jQuery migrate-->
  <script src='http://code.jquery.com/jquery-1.9.0.js'></script>
  <script src='http://code.jquery.com/jquery-migrate-1.2.1.js'></script>

  <script src='/assets/masonry.pkgd.min.js'></script>
  <script src='/assets/lazyload.js'></script>

  <!-- Load Paper.js library -->
  <script type='text/javascript' src='/assets/paper.js'></script>
  <script type='text/javascript' src='/assets/imagesloaded.pkgd.js'></script>
</head>

<body>

  <script>
    $('img').lazyload();
  </script>
  
   <!--Design the sidebar for the application.-->
   <div id='sidebar'>
     <div class='shadow' align='center'>
        <div id='sidebar_image'>
          <%= link_to image_tag('bliss.jpg'), controller: :about %>
        </div>
        <div id='sidebar_name'>Lisa Luo</div>
        <div class='sidebar_text'>fabricator</div>
        <div id='sidebar_quote'>
          <br>
          baby,<br> 
          type me in plain text<br>
          so you can see <br> the real me<br>
        </div>

        <div id='sidebar_footer' align='center'>

            <a target='_blank' href='http://blog.lisaluo.com/'>
              <i class='icon-pen gradient icon2x' aria-hidden='true'></i>
            </a>
            <a target='_blank' href='https://twitter.com/luoser'>
              <i class='icon-twitter gradient icon2x'></i>
            </a>
            <a target='_blank' href='http://www.linkedin.com/pub/lisa-luo/36/770/4a'>
              <i class='icon-linked_in gradient icon2x'></i>
            </a>

            <a target='_blank' href='https://github.com/luoser'>
              <i class='icon-git gradient icon2x'></i>
            </a>

            <a target='_blank' href='https://soundcloud.com/luoser'>
              <i class='icon-soundcloud gradient icon2x'></i>
            </a>

            <a href='mailto:lluo92@gmail.com'>
              <i class='icon-mail gradient icon2x'></i>
            </a>

          <div id='copyright' align='center'>
              webdesign by yours truly.
          </div>
         </div>
     </div>
  </div>

  <!--Lay out the main page-->
  <div class='mainpage'>
    <div class='mainpage_tabs' align='center'>
      <div class='row-fluid'>
        <div class='span4'><a href='portfolio'><port>Portfolio</port></a></div>
        <div class='span4'><a href='projects'><proj>Projects</proj></a></div>
        <div class='span4'><a href='inspiration'>Inspiration</a></div>
      </div>
    </div>

    <div class='content'>
      <%= yield %>
    </div>
  </div>

  <!--Google Analytics-->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48165910-1', 'lisaluo.com');
      ga('send', 'pageview');
  </script>

</body>
</html>
